/* amount */
.card {
  font-family: "Nunito Sans";
  border-radius: 20px;
  min-height: 100vh;
}
.img-wrapper {
  width: 65px;
  height: 65px;
}
.img-user {
  object-fit: cover;
  border-radius: 6px;
}
.form-control {
  width: 50%;
  color: #6379f4;
  font-size: calc(2rem + 0.2vw);
}
.form-control::placeholder {
  font-size: calc(2rem + 0.2vw);
  color: #cfcdcd;
}
.form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #afb6dd;
  padding: 5px 10px 5px 25px;
  background-color: transparent;
  margin-bottom: 10%;
  background-color: transparent;
}
.form input::placeholder {
  color: #a9a9a9;
}
.form input:focus {
  outline: none;
  border-bottom: 2px solid #6379f4;
}
.form {
  width: 100%;
  display: inline-block;
}
.icon {
    position: absolute;
    color: #6379f4;
}
.btn-amount {
    background-color: #6379f4;
    color: white;
    border-radius: 10px;
}

/* receiver */
.overflow {
  overflow-y: scroll;
}
.search-input input {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 12px;
  background-color: #e5e5e5;
  /* margin-bottom: 10%;
  background-color: transparent; */
}
.search-input input:focus {
  outline: none;
}
.input-icon {
  position: relative;
  display: inline;
}
.icon-search {
  position: absolute;
  color: #a9a9a9;
  top: -2px;
  left: 20px;
  font-size: 22px;
}
.card-receiver {
  font-family: "Nunito Sans";
  border-radius: 20px;
  height: 100vh;
}
.img-container {
  width: 55px;
  height: 55px;
}
